<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="color:green ;">
<p style="font-size:20px">
Please Enter Driver Details Here
</p>
<form  method="post"  >

 		{% csrf_token %}
        {{ form.as_p}}

 		<input type="submit" name='create' value="Verify" >
    	</form>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<a href="{% url 'logout' %}"> Click Here to logout></a>

</body>
</html>