<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vehicleusers/style.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body class="profile">


<ul>
  <li><a  href="{% url "landing_page" %}">Home</a></li>
  <li><a class="active" href="">My Profile</a></li>
  <li><a href="{% url "vehdet" %}">Vehicles</a></li>
    <li><a href="{% url "finedet" %}">Fines</a></li>
    {% if acc %}
        <li><a href="{% url "onroad" %}">START CHECKING</a></li>
    {% endif %}
    <li style="float:right"><a href="{% url "myprofile" %}">HI! {{ user }}</a></li>
  <li   style="float:right">
      <a href="{% url "logout" %}?next={% url 'landing_page' %} "  >
      <img src="{% static 'vehicleusers/images/logout2.png' %}" alt="Avatar"  style="width: 75px;border-radius: 100%" >
</a>
</ul>


  <img src="{% static 'vehicleusers/images/user.jpg' %}" alt="Avatar" class="image" style="width: 500px" >

<div class="aadhar">
    <p class="aadhar">Your Aadhar Id:
        {{ adhar }}</p>
    <p class="aadhar">Your License Id:
        {{ lic }}</p>
    <p class="aadhar">Your Pending Fine:
        {{ fine }}</p>
</div>





{#{% else %}#}
{#<h1>Your are not logged in</h1>#}
{#<a href="{% url 'login' %}"> Click Here to login></a>{% endif %}#}
</body>
</html>